In [56]:
import os
import pandas as pd
import seaborn as sns
import sys
sys.path.append("..")
from functions.functions_analysis import *

# Analysis of summary table data

In [68]:
sumtable = pd.read_excel("../data/summary_table_all.xlsx")
sumtable.drop('Unnamed: 0', axis = 1,inplace = True)
len(sumtable)

5771

In [50]:
sumtable.head(2)

           Filing Name Filing Date     District Court     Exchange Ticker
0  The GEO Group, Inc.  07/07/2020       S.D. Florida  New York SE    GEO
1          Wirecard AG  07/07/2020  E.D. Pennsylvania       OTC-BB  WCAGY

In [67]:
top10(sumtable, "District Court", "Filing Name")

                  Filing Name  Filing Date  Exchange  Ticker
District Court
S.D. New York            1406         1406      1382    1314
N.D. California           565          565       559     551
C.D. California           373          373       372     354
D. Delaware               322          322       322     321
D. New Jersey             244          244       243     235
D. Massachusetts          232          232       231     221
S.D. Florida              168          168       164     149
N.D. Illinois             164          164       160     154
E.D. New York             153          153       152     143
S.D. Texas                129          129       129     126

In [66]:
top10(sumtable, "Exchange", "Filing Name")

                  Filing Name  Filing Date  District Court  Ticker
Exchange
NASDAQ                   3116         3116            3116    3114
New York SE              2019         2019            2019    2005
Privately Traded          173          173             173      10
OTC-BB                    165          165             165     161
American SE                97           97              97      97
Undetermined               37           37              37       2
Open-end Fund              32           32              32      19
Pink Sheets                28           28              28      28
ETF                        26           26              26      17
Other Foreign               6            6               6       5

# Analysis of scraped data

In [69]:
scraped_data = pd.read_csv("../data/data_from_scrapy.csv")
len(scraped_data)

5771

In [70]:
scraped_data.head(2)

,case_brief,case_name,case_status,class_period_end,class_period_start,company_market,court,date_filed,date_of_last_review,docket,...,fic_links_list,fic_summary_table,headquarters,industry,judge,market_status,plaintiffs,sector,ticker_symbol,url
0,"According to the Complaint, Wirecard is a tech...",Wirecard AG Securities Litigation,ONGOING,6/24/20,8/17/15,OTC-BB,E.D. Pennsylvania,7/7/20,7/8/20,20-CV-03326,...,http://securities.stanford.edu/filings-documen...,"{""No"":{""0"":""1"",""1"":""2""},""Document Title"":{""0"":...",Germany,Software & Programming,Hon. ANITA B. BRODY,Public (Listed),"The Rosen Law Firm, P.A. (Jenkintown)",Technology,WCAGY,http://securities.stanford.edu/filings-case.ht...
1,"According to the Complaint, Finjan Holdings, I...","Finjan Holdings, Inc. Securities Litigation",ONGOING,6/29/20,6/10/20,NASDAQ,N.D. California,6/29/20,6/30/20,20-CV-04289,...,http://securities.stanford.edu/filings-documen...,"{""No"":{""0"":""1"",""1"":""2""},""Document Title"":{""0"":...",United States,Software & Programming,Hon. Edward M. Chen,Public (Listed),"Brodsky & Smith, LLC (California)",Technology,FNJN,http://securities.stanford.edu/filings-case.ht...

In [60]:
top10(scraped_data, "case_status", "case_name")

,case_brief,case_name,class_period_end,class_period_start,company_market,court,date_filed,date_of_last_review,docket,fic_doc_links,fic_links_list,fic_summary_table,headquarters,industry,judge,market_status,plaintiffs,sector,ticker_symbol,url
case_status,,,,,,,,,,,,,,,,,,,,
DISMISSED,4936,4936,4936,4936,4902,4936,4936,4936,4936,0,4936,4936,4936,4936,4936,4900,4936,4936,4658,4936
SETTLED,4236,4236,4236,4236,4202,4236,4236,4236,4236,0,4236,4236,4236,4236,4236,4200,4236,4236,4026,4236
ONGOING,1018,1018,1018,1018,976,1018,1018,1018,1018,0,1018,1018,1018,1018,1018,978,1016,1018,968,1018
case_status,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1